CREATE TABLE IF NOT EXISTS mcp.oauth_codes (
    code VARCHAR(64) PRIMARY KEY,
    user_email VARCHAR(255) NOT NULL,
    user_id INTEGER,
    client_id VARCHAR(64),
    redirect_uri TEXT,
    code_challenge TEXT,
    code_challenge_method VARCHAR(10),
    expires_at TIMESTAMP NOT NULL,
    used BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT NOW()
);
